/* estilos.css */
body {
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Ajusta esto según el tamaño de tu logo */
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-options button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.user-options a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.content section {
    margin-bottom: 20px;
}

/* Esta Es la parte de la pagina de registro */

.Nombre-App{
    text-align: center;
    position: relative;
    right: 70px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: #156baa;
    color: white;
    padding: 10px 30px;

}

.Contenedor-Registro{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
}

.form-registro{
    width: 100%;
    display: flex;
    justify-content: center;
    Align-items: center;

    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: transform 0.4s ease; /* Agregamos una transición para suavizar el desplazamiento */
}



.form-registro.left {
    transform: translateX(-300%);
}

/*
.additional-component {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

*/
.hidden {
    display: none;
}


.visible {
    display: block;
}

.input , .input-direccion{
    position: relative;
    top: 1em;
    right: 4em;
    height: 100%;
    width: 100%;

    border-color: transparent transparent #156baa transparent;

    border-width: 5px;
    font-size: 16px;
    padding: 1em 2em;
    margin: 2em;
    outline: none;
    background: white;
    z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
    color: transparent;
}

.Boton-Continuar{
    position: relative;
    top: 1em;
    right: 4em;
    background-color: #156baa;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

/* */

.Contenedor-Registro {
    text-align: center;
}
/*
.additional-component {
    display: none;
    margin-top: 20px;
}

.additional-component.active {
    display: block;
}*/

.hidden {
    display: none;
}

.input-direccion::placeholder {
    color: #999;
}

/* Para mejorar la visualización en dispositivos móviles */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }
}
